body {
    margin-top: 60px;
  }
  
  .wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  blockquote {
    border-left: 5px #EEEEEE solid;
  }
  
  .video {
      max-width: 560px;
      margin: 0 auto;
      text-align: center;
  }

  